@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
:root{
    --primary-color:#5CDB95;
    --secondary-color:#05386B;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;

}
.heading{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align: center;
    padding: 1rem;
    font-size: 1.3rem;
}
.container{
    width: 60%;
    min-height: 100vh;
    margin: auto;
  }
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
}
label {
    /* margin-top: 1.5rem; */
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 600;
}
input{
    border-radius: 0.5rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-bottom: 5px solid var(--primary-color);
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary-color);
    
}
 ::placeholder{
    color: var(--secondary-color);
}
.list{
    list-style: none;
    text-align: center;
}
button{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.4rem;
  font-size: 1.3rem;
  font-weight: 500;
}

table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
}
td,th{
  border: 1px solid var(--primary-color);
  padding: 8px;
  color: var(--secondary-color);
}
caption{
    padding-top: 1rem;
    padding-bottom: 00.5rem;
    font-size: larger;
    font-weight: 600;
    color: var(--secondary-color);
}
p{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--secondary-color);
}
.footer{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.8rem;
    margin-top:2rem;
    position: sticky;
    top: 100%;
}
.social {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}
.social a {
    color: var(--secondary-color);
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
}